---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.publishDate).valueOf() -
    new Date(a.frontmatter.publishDate).valueOf()
);
---

<!DOCTYPE html>
<html lang="en-us" class="">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="text-lg">
    <main class="mx-auto container">
      <Header />
      <content>
        <div class="">
          <div class="">
            <div class="space-y-4">
              <div>
                <h1 class="text-5xl font-semibold leading-tight text-gray-300">
                  Blog
                </h1>
              </div>

              <div class="text-lg text-gray-900 leading-normal">
                <p>
                  I’ve written a couple of posts over time — some more
                  noteworthy than others.
                </p>
              </div>
            </div>

            <hr class="my-10" />

            <ul>
              {
                posts.map((post) => (
                  <>
                    <div class="mt-12 spaced-y-6">
                      <div>
                        <a
                          href={post.url}
                          class="text-lg text-black font-bold no-underline hover:underline"
                        >
                          {post.frontmatter.title}
                        </a>

                        <span class="block text-grey-dark uppercase font-semibold text-xs tracking-wide mb-1">
                          <time datetime={post.frontmatter.publishDate}>
                            {new Date(
                              post.frontmatter.publishDate
                            ).toLocaleDateString("en-us", {
                              year: "numeric",
                              month: "short",
                              day: "numeric",
                            })}
                          </time>
                        </span>
                      </div>
                    </div>
                    <li class="">
                      <div />
                    </li>
                  </>
                ))
              }
            </ul>
          </div>
        </div>
      </content>
    </main>
  </body>
</html>
