---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.publishDate).valueOf() -
    new Date(a.frontmatter.publishDate).valueOf()
);
---

<!DOCTYPE html>
<html lang="en-us" class="mx-auto container px-24 font-mono">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="">
    <Header />
    <main>
      <content>
        <div class="">
          <div class="">
            <h1 class="text-2xl font-extrabold text-black mb-4">
              Work Journal
            </h1>
            <div class="text-lg text-grey-darkest leading-normal spaced-y-6">
              <p>
                Trying something new to help me with keeping track of my notes
                and progress. I write about what I've been working on, problems
                I've solved, and things I'm still trying to figure out.
              </p>
            </div>
            <ul>
              {
                posts.map((post) => (
                  <>
                    <div class="mt-12 spaced-y-6">
                      <div>
                        <a
                          href={post.url}
                          class="text-lg text-black font-bold no-underline hover:underline"
                        >
                          {post.frontmatter.title}
                        </a>

                        <span class="block text-grey-dark uppercase font-semibold text-xs tracking-wide mb-1">
                          <time datetime={post.frontmatter.publishDate}>
                            {new Date(
                              post.frontmatter.publishDate
                            ).toLocaleDateString("en-us", {
                              year: "numeric",
                              month: "short",
                              day: "numeric",
                            })}
                          </time>
                        </span>
                      </div>
                    </div>
                    <li class="">
                      <div />
                    </li>
                  </>
                ))
              }
            </ul>
          </div>
        </div>
      </content>

      <Footer />
    </main>
  </body>
</html>
